// Bootstrap brand color customization

/*     brand Colors              */

$primary: $dark-blue !default;
$info: $bright-cyan !default;
$success: $green-500 !default;
$warning: $grayish-blue !default;
$danger: $red-500 !default;
$rose: $pink-500 !default;
$inverse: $black-color !default;
$secondary: $lime-green !default;
$background: $light-grayish-blue !default;
$light: $very-light-gray;
